.a_table .ant-table-wrapper {
  margin-bottom: 20px;
}

.a_table_pagination {
  text-align: right;
  padding: 0;
  display: inline-block;
  width: 100%;
}

.a_table_pagination .ant-pagination {
  text-align: right;
}
